#s-eb21cb65-6862-4fd3-8504-daf0f50be271 > #backgroundBox {
  position: absolute;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 > #alignmentBox {
  position: relative;
  max-width: 834.0px;
  max-height: 1210.0px;
  width: 100%;
  height: 100%;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Rectangle_6 {
  position: absolute;
  width: 582.0px;
  min-height: 834.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #F8D35B;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Path_39 {
  position: absolute;
  width: 19.664152099148396px;
  height: 31.82605959650698px;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Path_40 {
  position: absolute;
  width: 19.66415209914885px;
  height: 31.82605959650698px;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Rectangle_1 {
  position: absolute;
  width: 153.37350327167348px;
  min-height: 64.47548545178597px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(5.735764363510461px 8.191520442889917px 5px #D7D5E0);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #7779E1;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Rectangle_1 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_4 {
  position: absolute;
  width: 110.08506625521113px;
  min-height: 32.202445809363326px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_9 {
  position: absolute;
  width: 116.11072095878109px;
  min-height: 40.137411878217904px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_9 span {
  color: #7779E1;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #7779E1;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_8 {
  position: absolute;
  width: 54.34061495328268px;
  min-height: 25.378349462219603px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_8 span {
  color: #535353;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #535353;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Image_2 .imageViewport > * {
  width: 174.007909665949%;
  height: 119.84695699216346%;
  left: -24.239364554885697%;
  top: -14.851180239781847%;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Image_2 {
  position: absolute;
  width: 304.0786062693361px;
  height: 220.74854455638155px;
  opacity: 0.85;
  -webkit-transform: rotate(359.0deg);
  -moz-transform: rotate(359.0deg);
  transform: rotate(359.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Image_3 .imageViewport > * {
  width: 174.0412979351034%;
  height: 99.9999999999999%;
  left: -47.19764011799417%;
  top: -0.0%;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Image_3 {
  position: absolute;
  width: 310.4712561273355px;
  height: 270.17410193971733px;
  opacity: 0.85;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Image_1 .imageViewport > * {
  width: 151.7712794772722%;
  height: 124.47471044041292%;
  left: -22.662929570372178%;
  top: -14.243374826514913%;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Image_1 {
  position: absolute;
  width: 556.0265385243126px;
  height: 338.9799376779885px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #shapewrapper-s-Ellipse_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #shapewrapper-s-Ellipse_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(1.2855752193730787px 1.532088886237956px 5px #D7D5E0);
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Ellipse_2 {
  width: 161.72561143581845px;
  height: 157.41400209640386px;
  min-height: 157.41400209640386px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_16 {
  position: absolute;
  width: 138.08149250144334px;
  min-height: 30.15002786197556px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_16 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_6 {
  position: absolute;
  width: 97.03018687552958px;
  min-height: 21.55038844757587px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_6 span {
  color: #7779E1;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #7779E1;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Path_3 {
  position: absolute;
  width: 19.31706361842825px;
  height: 23.4570364577976px;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_20 {
  position: absolute;
  width: 378.6848111219979px;
  min-height: 121.09265889590218px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_20 .valign {
  vertical-align: top;
  text-align: left;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_20 span {
  color: #F8D35B;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 67.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_20 span#rtr-s-Paragraph_20_0 {
  color: #F8D35B;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 67.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_19 {
  position: absolute;
  width: 800.5616034446059px;
  min-height: 126.63499538674394px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  mix-blend-mode: screen;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_19 .valign {
  vertical-align: top;
  text-align: left;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_19 span {
  color: #555454;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 67.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
  color: #555454;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 67.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_3 {
  position: absolute;
  width: 70.10659783437205px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Rectangle_8 {
  position: absolute;
  width: 56.99999999999994px;
  min-height: 3.9999999999999716px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #7779E1;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Rectangle_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_1 {
  position: absolute;
  width: 47.21938748048845px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Union_6 {
  position: absolute;
  width: 55.40715160721129px;
  height: 35.21071712698523px;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Union_5 {
  position: absolute;
  width: 17.862450960895558px;
  height: 17.887122563822828px;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Path_6 {
  position: absolute;
  width: 19.964532103808324px;
  height: 15.994017711839888px;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 #s-Path_7 {
  position: absolute;
  width: 20.40361746473377px;
  height: 20.327507826405125px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-eb21cb65-6862-4fd3-8504-daf0f50be271 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}